thesis_venv/
ben.jpg
Figure_1.png
istock-1351285222-sad-man-wit-tear-lr-jpg.jpg
*.tflite
*.task
dlib/
compound/
*.zip
tuner_dir/
model_architecture.png
vgg16_cm.png
log_file.txt
logs/
tuner_results/
__pycache__
face_rec_CM.jpeg
